@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');


canvas{
  position: fixed;
  top: 0;
  left: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #212121;
  font-family: "Montserrat", sans-serif;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  text-align: center;
  overflow-x: hidden;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #ffffff;
  }

  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #5c5c5c;
  }

  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #0e0d0f;
  }
}

.ring {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  animation: ring 2s linear infinite;
}

.ring:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

@keyframes text {
  50% {
    opacity: 0;
  }
}

span {
  color: #737373;
  font-size: 20px;
  line-height: 200px;
  letter-spacing: 1px;
  text-transform: uppercase;
  animation: text 3s ease-in-out infinite;
}